.card {
    border: solid 1px #cecece;
    box-shadow: 2px 2px 15px -5px rgba(0,0,0,0.3);
    padding: 0;
}

.card:hover {
    box-shadow: 2px 2px 15px -5px rgba(0,0,0,0.75);
}

.card-img-top {
    height: 150px;
    background-size: cover;
}

.card-body {
    height: 100px;
}

.card-title {
    font-size: 21px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis!important;
    color: #333333;
}

.card-text {
    font-size: 14px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis!important;
    color: #969696;
}

.card a:hover {
    text-decoration: none!important;
}