html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    color: #333333;
    font-family: 'Source Sans Pro', sans-serif;
    min-height:100%; 
    padding:0; 
    margin:0; 
    position:relative;
}

.btn:focus {
    box-shadow: none;
}

.fill {
    background-color: 	#5bc0de;
    color: #ffffff;
}

.fill:hover {
    background-color: 	#397b8f;
    color: #ffffff;
}

.fill:active {
    background-color: 	#fdd962;
    color: #ffffff;
}

.outline {
    border: 1px solid	#5bc0de;
    color: #5bc0de;
    background-color: transparent;
}

.outline:hover {
    border: 1px solid	#397b8f;
    color: #397b8f;
    background-color: transparent;
}

.outline:active {
    border: 1px solid	#fdd962;
    color: #fdd962;
    background-color: transparent;
}

/* navbar */

nav {
    box-shadow: 2px 2px 15px -5px rgba(0,0,0,0.3);
}

.dropdown-menu {
    width: 210px;
    border: 1px solid #cecece;
}

.dropdown-item {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis!important;
}

.dropdown-item:active {
    background-color: inherit;
    color: #397b8f;
}

.profile-icon {
    width: 40px; 
    height: 40px;
    border: 1px solid #cecece;
}

.navbar-brand img {
    height: 40px;
} 

.nav-item {
    margin-right: 5px;
}

.nav-link-current {
    border-bottom: 2px solid #5bc0de;
}

.nav-link {
    color: #333333;
}

.nav-link:hover {
    color: #333333;
}

.nav-item:hover {
    background-color: #eee;
    border-radius: 6px;
}

.form-control[type="search"] {
    background-color: #eee;
    border: none;
    border-radius: 0;
}

.form-control[type="search"]:focus {
    box-shadow: none;
}

.search {
    color: 	#5bc0de;
    background-color: #eee;
    border-radius: 0;
}

.search:hover {
    color: #ffffff;
    background-color: #5bc0de;
}

.navbar-light .navbar-nav .nav-link {
    border-radius: 7%
}

.nav-link.nav-btn.fill {
    color: #ffffff;
}

.nav-link.nav-btn.fill:hover {
    color: #ffffff;
}

.nav-link.nav-btn.fill:active {
    color: #ffffff;
}

.nav-link.nav-btn.outline {
    color: #5bc0de;
}

.navbar-light .navbar-nav .nav-link.outline:hover {
    color: #397b8f;
}

.navbar-light .navbar-nav .nav-link.outline:active {
    color: #fdd962;
}

/* text */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #cecece;
    margin-bottom: 20px;
}

a {
    color: #5bc0de;
}

a:hover {
    color: #397b8f;
    text-decoration: underline;
}

a:active {
    color: #fdd962;
    text-decoration: underline;
}

/* forms */

.form-page {
    height: 95vh;
}

/* footer */

footer {
    border-bottom: 8px solid #5bc0de;
    bottom: 0;
    width: 100%;
    background-color: #eee;
    font-size: 13px;
    position: absolute;
}


/* navbar collapses */

@media only screen and (max-width: 992px) {
    .nav-link-current {
        border-bottom: none;
    }

    .dropdown-menu {
        width: 90vw;
        border: 1px solid #cecece;
        border: none;
        background-color: transparent;
    }

    .profile-icon {
        display: none;
    }

    .form-control[type="search"] {
        max-width: 90%;
    }

    .navbar-light .navbar-nav .nav-link.fill, .navbar-light .navbar-nav .nav-link.outline {
        color: #5bc0de;
        background-color: transparent;
        border: none;
    }
    
    .navbar-light .navbar-nav .nav-link:hover {
        color: #397b8f;
    }
    
    .navbar-light .navbar-nav .nav-link:active {
        color: #fdd962;
    }
    
}
