{% extends "bootstrap_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
{{ title }}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
{% endblock %}

{% block navbar %}
<ul class="navbar-nav ml-auto">
  <a href="{{ url_for('users.account_details') }}"><img class="rounded-circle mr-2 profile-icon" src="{{ profile_photo_file }}"></a>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('users.account_details') }}">Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('users.dashboard') }}">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('users.user_courses', username=name) }}">Your Courses</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('users.logout') }}">Logout</a>
  </li>
</ul>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row page d-flex justify-content-center pt-5">
      <form class="col-lg-4 col-md-5 col-8" method="POST" action="" enctype="multipart/form-data">
        <h2 class="sub-header">{{ title }}</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.title) }}
        {{ wtf.form_field(form.content) }}
        <div class="form-group">
            {{ form.submit(class="btn fill") }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}