{% extends "bootstrap_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='assets/' + 'logo-full.png') }}"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> 
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link outline nav-btn" href="{{ url_for('users.login') }}">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fill nav-btn" href="{{ url_for('users.signup') }}">Sign Up</a>
          </li>
        </ul>
      </div>
      </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row form-page d-flex justify-content-center pt-5">
      <form class="fcol-lg-4 col-md-5 col-8" method="POST" action="/login">
        <h2 class="sub-header">Log In</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.remember) }}
        <div class="form-group">
            {{ form.submit(class="btn fill") }}
            <small class="text-muted ml-2">
                <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
            </small>
        </div>
      </form>
    </div>
  </div>
{% endblock %}