{% extends "bootstrap_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Reset Password
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
{% endblock %}

{% block navbar %}
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="nav-link outline nav-btn" href="{{ url_for('users.login') }}">Log In</a>
  </li>
  <li class="nav-item">
    <a class="nav-link fill nav-btn" href="{{ url_for('users.signup') }}">Sign Up</a>
  </li>
</ul>  
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row page d-flex justify-content-center pt-5">
      <form class="col-lg-4 col-md-5 col-8" method="POST" action="/login">
        <h2 class="sub-header">Please Enter Your Email</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.submit) }}
        <div class="form-group">
            {{ form.submit(class="btn fill") }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}